@import "tailwindcss";

:root {
  --player-1-color: rgb(200, 0, 0);
  --player-2-color: rgb(0, 200, 0);
}

.player-indicator {
  background-color: var(--player-1-color);
}

.player-indicator.player-2 {
  background-color: var(--player-2-color);
}


.win-dialog::part(dialog) {
  background-color: hsl(from var(--player-1-color) h s 90%);
}

.win-dialog.player-2::part(dialog) {
  background-color: hsl(from var(--player-2-color) h s 90%);
}

.input-uppercase::part(input) {
  text-transform: uppercase;
}

.unset-margin-block-end {
  margin-block-end: unset !important;
}
